<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.camera" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name=".app.DansMaRueApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name=".ui.activities.EditAddressActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RuntimeGeolocPermissionRequestActivity" />
        <activity
            android:name=".ui.activities.SliderActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activities.BaseAnomalyActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activities.WelcomeMapActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".ui.activities.WelcomeMapEquipementActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activities.AddAnomalyActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AddAnomalyEquipementActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapEquipementActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapEquipementActivity" />
        </activity>
        <activity
            android:name=".ui.activities.FavoriteAddressActivity"
            android:parentActivityName=".ui.activities.WelcomeMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CategoryActivity"
            android:parentActivityName=".ui.activities.AddAnomalyActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AddAnomalyActivity" />
        </activity>
        <activity
            android:name=".ui.activities.FavoriteCategoryActivity"
            android:parentActivityName=".ui.activities.CategoryActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CategoryActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CategoryEquipementActivity"
            android:parentActivityName=".ui.activities.AddAnomalyEquipementActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AddAnomalyEquipementActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SimpleMessageActivity"
            android:parentActivityName=".ui.activities.CategoryActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CategoryActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AddAnomalyChangeEquipement"
            android:parentActivityName=".ui.activities.AddAnomalyEquipementActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AddAnomalyEquipementActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SetDescriptionActivity"
            android:parentActivityName=".ui.activities.AddAnomalyActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AddAnomalyActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ChoosePriorityActivity"
            android:parentActivityName=".ui.activities.AddAnomalyActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/LoginTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/LoginTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapActivity" />

            <intent-filter>
                <action android:name="fr.paris.android.signalement.HANDLE_AUTHORIZATION_RESPONSE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/oauth2redirect"
                    android:scheme="fr.paris.android.signalement" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AnomalyDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapActivity" />
        </activity>
        <activity
            android:name=".ui.activities.MessageSFActivity"
            android:parentActivityName=".ui.activities.AnomalyDetailsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/ThemeForToolBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AnomalyDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AnomalyEquipementDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapEquipementActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapEquipementActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PrefActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.WelcomeMapActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.WelcomeMapActivity" />
        </activity>
        <activity
            android:name=".ui.activities.TypeEquipementChooser"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.PrefProfilActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PrefPrefActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.MySpaceNewsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.MySpaceHelpActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PrefCGUActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PrefAboutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.PrefActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.PrefActivity" />
        </activity>
        <activity
            android:name=".ui.activities.InternalWebViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.LoginActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.LoginActivity" />
        </activity> <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.See README(https://goo.gl/l4GJaQ) for more. -->
        <activity
            android:name=".ui.activities.AnomaliesActivity"
            android:screenOrientation="fullSensor" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_notif" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/pink" /> <!-- Notifications + treatment -->
        <service
            android:name=".services.notifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.accenture.dansmarue.app.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>